body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

 {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.section img {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px #aaa;
    filter: drop-shadow(#fff);
    z-index: -1;
}